
*.xcuserstate
*.xcbkptlist
testcocoappswift.xcodeproj/project.xcworkspace/xcuserdata/gwh.xcuserdatad/UserInterfaceState.xcuserstate
testcocoappswift.xcodeproj/project.xcworkspace/xcuserdata/gwh.xcuserdatad/UserInterfaceState.xcuserstate
